.responsive-calendar .controls {text-align: center;margin-bottom: 50px;}
.responsive-calendar .controls a {cursor: pointer;color: #232323;transition: .5s ease;font-size: 14px;}
.responsive-calendar .controls a:hover {color: #19a4c6;transition: .5s ease;font-size: 14px;}
.responsive-calendar .controls .time {display: inline;color: #232323;font-size: 20px;font-family: "Asap",sans-serif;}
.responsive-calendar .day-headers, .responsive-calendar .days {font-size: 0;}
.responsive-calendar .day {display: inline-block;position: relative;font-size: 15px;width: 14.285714285714%;text-align: center;color: #232323;font-family: "Asap",sans-serif;}
.responsive-calendar .day a {color: #999;display: block;cursor: pointer;padding: 20% 0;transition: .5s ease;font-size: 15px;font-family: "Asap",sans-serif;}
.responsive-calendar .day a:hover {background-color: #19a4c6;text-decoration: none;color: #fff;transition: .5s ease;}
.responsive-calendar .day.header {border-bottom: 1px solid #f0f0f0;padding-bottom: 15px;margin-bottom: 15px;}
.responsive-calendar .day.active a {background-color: #fff;color: #000;}
.responsive-calendar .day.active a:hover {background-color: #fff;}
.responsive-calendar .day.active .not-current {background-color: #8fcaef;color: #fff;}
.responsive-calendar .day.active .not-current:hover {background-color: #bcdff5;}
.responsive-calendar .day.not-current a {color: #fff;visibility: hidden;}
.responsive-calendar .day .badge {position: absolute;top: 2px;right: 2px;z-index: 1;display: none;}